<!-- <p><img src="<%= current_user.avatar_url %>" width="26" /><strong><%= message.user.username %>    said </strong> <%= change_time(message.created_at) %> ago : <%= message.content %></p> -->
<p><img src="<%= message.user.avatar_url %>" width="26" /><strong><%= message.user.username %>    said </strong> <%= change_time(message.created_at) %> ago : <%= message.content %></p>
